.about-section{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
    font-family: Bahnschrift;
    font-size: 20px;
    font-weight: 200;
    column-gap: 50px;
    margin-top: 150px;    
}

.about-section__image{
    width: 300px;
    height: 300px;
}

.about-section__text{
    margin-top: 50px;
    max-width: 600px;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 24px;
}

.about-img-txt-wrapper{
display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
    font-family: Bahnschrift;
    font-size: 20px;
    font-weight: 200;
    column-gap: 50px;
}

.resume-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  background-color: #a2df72;
  color: #12110e;
  text-decoration: none;
  border-radius: 22px;
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.4, 0.0, 0.2, 1), text-shadow 200ms ease, opacity 200ms ease;
  font-family: Bahnschrift;
}

.resume-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.resume-button__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.resume-button__subtitle {
  font-size: 16px;
  font-family: "bahnschrift-semicondensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.resume-button__wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* <1024px --- Tablets */
@media screen and (max-width: 64rem) {
    .about-page__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-section{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: left;
    margin-top: 64px;
    padding-left: 48px;
    padding-right: 48px;
}

.about-img-txt-wrapper {
    flex-direction: column;
}

.about-section__image{
    width: 250px;
    height: 250px;
    max-width: 100%;
}

.about-section__text{
    margin-top: 30px;
}
.resume-button__wrapper{
    display: flex;
    justify-content: left;
    margin-top: 7px;
}
}


/* <500px --- Phones */
@media screen and (max-width: 500px) {
    .about-section__text{
        font-size: 16px;
    }
}