/*----------------------------------------------
------------------------------------------------
1. Navbar
------------------------------------------------
----------------------------------------------*/

/* Define transition duration for
navbar links hover effect (includes font size and color change) 
mobile hamburger menu (smoothly appears from the right) */
:root {
    --transition-duration: 1.05s;
}

.navbar {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #111111;
    z-index: 100;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 0.5px;
    background-color: #a8cc7a;;
}

.navbar__hamburger-svg{
    width:35px;
    height: 25px;
    padding-right: 10px;
}

.navbar__logo img{
    width: 150px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: var(--transition-duration) ease-in-out;
}

.navbar__links {
    font-family: Bahnschrift;
    font-weight: bold;
    color: white;
    padding-top: 128px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -260px;
    background-color: #111111;
    z-index: 9999;
    border-left: 0.5px solid gray;
    padding-right: 40px;
    padding-left: 40px;
    transition: var(--transition-duration) ease;
    font-size: 20px;
    width: 160px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    display: flex;
    align-items: end;
}

.navbar__hamburger {
    /* REMOVES THE STYLING OF THE <button> */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
}

.navbar__hamburger-close {
    display: block;
    position: absolute;
    top: 0px;
    right: 24px;
    margin-top: 24px;
    font-size: 24px;
    color: #a8cc7a !important;
}

/* this class is required by "navbar.js" */
.navbar .move-left {
    right: 0px;
}

@media only screen and (min-width: 1024px) {

    .navbar {
        padding: 24px;
    }

    .navbar__logo img{
    width: 200px;
    margin-left: 50px;
            transition:
        transform 500ms cubic-bezier(0.4, 0.0, 0.2, 1),
        text-shadow 200ms ease,
        opacity 200ms ease;
}

.navbar::after {
    height: 1px;
}

.navbar__logo img:hover{
    transform: scale(1.05);
}

    /* Hide hamburger */
    .navbar__hamburger {
        display: none;
    }

    /* Hide hamburger close button */
    .navbar__hamburger-close {
        display: none;
    }

    .navbar__links {
        /* Converts mobile-styled hamburger links to regular navbar links for desktop */
        height: auto;
        position: static;
        right: auto;
        flex-direction: row;
        row-gap: 0;
        border-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        margin-right: 100px;
        transition: none;
        width: auto;

        display: flex;
        justify-content: center;
        /* Adjust the spacing between links */
        column-gap: 100px;
        transition: 
        transform 0.25s ease,
        box-shadow 0.25s ease;

        transition:
        transform 350ms cubic-bezier(0.4, 0.0, 0.2, 1),
        text-shadow 200ms ease,
        opacity 200ms ease;
    }

    .navbar__links a:hover {
        font-size: 24px;
  text-shadow:
    0 0 8px rgba(0, 0, 0, 0.25),
    2px 0 12px rgba(0, 0, 0, 0.15);
  opacity: 0.95;
    }

    .navbar__link-web-projects:hover {
        color: var(--my-green);
    }

    .navbar__link-know-me:hover {
        color: var(--my-green);
    }

    .navbar__link-contact-me:hover {
        color: var(--my-green);
    }

}