/*************************************************
**************************************************

Website Details:
    - Name: Nicolas (@monotonebandz)
    - URL: monotonebandz.com
    - Type: Portfolio Website
    - Description: Portfolio website showcasing graphic design projects by Nicolas (@monotonebandz)

Author:
    - Legal Name: Nikola Nikolov
    - Personal Website: monotonebandz.com
    - Social Media:
        - Twitter:   twitter.com/monotonebandz
        - LinkedIn:  linkedin.com/in/monotonebandz
        - Instagram: instagram.com/monotonebandz
        - Facebook:  facebook.com/monotonebandz
    - GitHub: github.com/monotonebandz

Copyright 2026. All Rights Reserved.

*************************************************
************************************************/